 <!DOCTYPE html>
<html lang="en">
<head>
	<title>todoApp:login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
    	body{
        background-color: black;
        padding: 0px;
        margin: 0px;
        color: white;
      }
      .side_tab{
       /* background-color: white;
        border-right: 1px solid white;*/
      }
      .btn_sign{
      background-color:black;
        border: 1px solid white;
        color:white;
        border-radius: 0px;
        /*padding: 5px 30px;*/
        width: 100px;
        height: 100px;
        text-decoration: none;
      }
      .btn_sign:hover{
        background-color:whitesmoke;
        color:black;
        border: 1px solid white;      
        text-decoration: none;
      }
      .btn_sign1{
      background-color:white;
        border: 1px solid white;
        color:black;
        border-radius: 0px;
        /*padding: 5px 30px;*/
        width: 100px;
        height: 100px;
        text-decoration: none;
      }
      .btn_sign1:hover{
        background-color:black;
        color:white;
        border: 1px solid white;      
        text-decoration: none;
      }
      #profileimg{
        border-radius: 50%;
        height:200px;
        width: 200px;
        margin-left: 100px;
      }
      .profiledata{
           text-decoration: none;
           list-style-type: none;
            
           width: 330px;
           margin-left: 30px;
      }
      .lia{
        border: 1px solid white;      
        background-color: white;
        padding: 5px;
       color:black;
       /*font-weight: bold;*/
      }
      .lib{
         
        padding: 5px;
       font-weight: bold;
      }
      #tasked{
        border: 1px solid white;      
       height: 200px; 
       overflow-x: hidden;
      }
      .subbtn{
         background-color:black;
        color:white;
        border: 1px solid white;      
        text-decoration: none;
        padding: 2px 20px;
      }
      .subbtn:hover{
         background-color:white;
        color:black;
        border: 1px solid white;      
        text-decoration: none;
        padding: 2px 20px;
      }
      .btn_sign111{
      background-color:black;
        border: 1px solid white;
        color:white;
        border-radius: 0px;
        /*padding: 5px 30px;*/
        width: 100px;
         
        text-decoration: none;
      }
      .btn_sign111:hover{
        background-color:white;
        color:black;
        border: 1px solid white;      
        text-decoration: none;
      }
      td,th{
        border: 1px solid white;
      }
      .scroller {
        
        scrollbar-color: black gray;
      }
    </style>
</head>
<body>
  <br>
  <div class="container-fluid"  >
        <div class="row " >       
            <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 side_tab">
              <a href="/add/task" class="btn  btn_sign1">New Task</a>
              <a href="/add/task/completed" class="btn btn_sign ">Completed Tasks</a>
              <a href="/all/task/update" class="btn btn_sign ">Update Tasks</a>
              <a href="/see/task/all" class="btn btn_sign ">All task</a>
               <a href="/see/task/all" class="btn btn_sign ">Search Task</a>
              <a href="/logout" class="btn btn_sign ">Logout</a>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
              <h1>Todays Tasks</h1>
              <div id="tasked" class="scroller">
                 <table class="table" style="color: white;">
                      <thead>
                          <tr style="border: 1px solid white;">
                             <th>ID</th>
                             <th>TITLE</th>
                             <th>CONTENT</th>
                             <th>CREATED ON on</th>
                             <th>COMPLETE BY</th>
                             <th>STATUS</th>
                             <th>UPDATE</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% todaydata.forEach(function(today,ind){  %>
                           <tr style="border: 1px solid white;">
                              <td><%= today.id %> </td>
                              <td><%= today.title %> </td>
                              <td><%= today.content %> e</td>
                              <td><%= today.createdDate %> <%= today.time %> </td>
                              <td><%= today.completedDate %></td>
                              <td><%= today.isDone %></td>
                              <td> <a href="/all/task/update" class="btn btn_sign111">Update</a></td>
                          </tr>

                        <% })  %>
      
    </tbody>
  </table>
              </div>
              <h3>Update Profile</h3>
                <table class="table">
                    <tbody>
                         <tr style="border: 1px solid white;">
                            <form action="/profile/update/username" method="POST">
                                <td style="color: white;">Username</td>
                                <td><input style="width: 100%;" type="text" name="username"></td>
                                <td><input type="submit" value="update" name=""class="subbtn"></td>      
                            </form>
                         </tr>
                         <!-- <tr style="border: 1px solid white;">
                            <form action="/profile/update/email" method="POST">
                                <td style="color: white;">Email</td>
                                <td><input style="width: 100%;" type="email" name="email"></td>
                                <td><input type="submit" value="update" name="" class="subbtn"></td>      
                            </form>
                         </tr> -->
                         <tr style="border: 1px solid white;">
                            <form action="/profile/update/phone" method="POST">
                                <td style="color: white;">Phone</td>
                                <td><input style="width: 100%;" type="phone" name="phone"></td>
                                <td><input type="submit" value="update" name="" class="subbtn"></td>      
                            </form>
                         </tr>
                         <tr style="border: 1px solid white;">
                            <form  action="/profile/update/password"  method="POST">
                                <td style="color: white;">Password</td>
                                <td><input style="width: 100%;" type="password" name="password"></td>
                                <td><input type="submit" value="update" name=""class="subbtn"></td>      
                            </form>
                         </tr>
                         <tr style="border: 1px solid white;">
                            <form  action="/profile/update/gender"  method="POST">
                                <td style="color: white;">Gender</td>
                                <td> <input type="radio" name="gender" value="male" checked><span style="color: white;"> Male </span>
                                   <input type="radio" name="gender" value="female"><span style="color: white;">Female </span> 
                                  </label>
                                  </td>
                                <td><input type="submit" value="update" name=""class="subbtn"></td>      
                            </form>
                         </tr>
                         <tr style="border: 1px solid white;">
                            <form  action="/update/profile/images"  method="POST" enctype="multipart/form-data">
                                <td style="color: white;">Update Image </td>
                                <td><input type="file" name="updateprofileimgage" required/></td>
                                <td><input type="submit" value="update" name="" class="subbtn"></td>      
                            </form>
                         </tr>
                    </tbody>
                </table>



            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
              <img id="profileimg" src="<%= imagesrc.src %>" alt="uimage" >  
              <ul class="profiledata">
                    <li class="lib">User Name  </li>
                    <li class="lia" > <%=user.username %></li>
                    <li class="lib">Email </li>
                    <li class="lia"> <%=user.email %></li>
                    <li class="lib">Gender </li>
                    <li class="lia"> <%=user.gender %></li>
                    <li class="lib">Phone No  </li>
                    <li class="lia">  <%=user.phone %></li>
              </ul>

            </div>
        </div>
  </div>
  
  



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>